.grid {
    padding: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat();
}

.card {
    background-color: var(--primary-light);
    color: var(--primary-contrast-light);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    text-align: center;
}